<!-- blog warpper start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">
          <span> les postes recents:</span>
        </h2>
      </div>
    </div>
    <div class="row gy-5 gx-4 g-xl-5">
      <div routerLink="/article" class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block"  title="It ends with us - colleen hoover">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/02 (1).png"  width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>05 Juillet, 2024</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span> 02 min publié</span>
              </li>
            </ul>
            <a class="d-block"
              title="The AGI hype train is running out of steam">
              <h3 class="mb-3 post-title">
                IT ENDS WITH US
              </h3>
            </a>
            <p>"It Ends with Us" de Colleen Hoover est un roman poignant qui explore les complexités de l'amour, de la résilience et des choix difficiles. À travers l'histoire de Lily, une jeune femme confrontée à son passé et à un amour intense, …</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0">
            <ul class="card-meta list-inline">
              <li class="list-inline-item mt-2">
                <a href="author-single.html" class="card-meta-author" title="Lire des romans par - Colleen Hoover" style="font-size: 18px;">
                  <img class="w-auto" src="assets/assets/images/author/Colleen Hoover.png" alt="Colleen Hoover" width="35" height="35"> par <span>Colleen Hoover</span>
                </a>

              </li>

              <li class="list-inline-item mt-2">•</li>
              <li class="list-inline-item mt-2">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item">
                    <a href="tag-single.html" style="font-size: 22px; font-weight: bold;  padding: 10px 15px; border-radius: 5px;">Romance</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px;">Drama</a>
                  </li>
                </ul>
              </li>
            </ul>

          </div>
        </article>
      </div>
      <div  routerLink="/harry" class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block"
              title="Creating an object that travels at 1% the speed of light?">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/12.jpg" alt="Creating an object that travels at 1% the speed of light?" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>26 Juin, 1997</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span> 17 ans publié</span>
              </li>
            </ul>
            <a class="d-block"
              title="Creating an object that travels at 1% the speed of light?">
              <h3 class="mb-3 post-title">
                HARRY POTTER SERIES
              </h3>
            </a>
            <p>Harry Potter est une série de romans fantastiques écrite par J.K. Rowling. L'histoire suit un jeune sorcier nommé Harry Potter, qui découvre à l'âge de 11 ans qu'il est un sorcier et qu'il a été accepté à l'école de sorcellerie Poudlard. Là-bas, ...</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0">
            <ul class="card-meta list-inline">
              <li class="list-inline-item mt-2">
                <a href="author-single.html" class="card-meta-author" title="Lire les romans de - JK Rowling" style="font-size: 18px;">
                  <img class="w-auto" src="assets/assets/images/author/j-k-rowling.png" alt="JK Rowling" width="35" height="35"> par <span>JK Rowling</span>
                </a>
              </li>
              <li class="list-inline-item mt-2">•</li>
              <li class="list-inline-item mt-2">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item">
                    <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px;">Fantastique</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px;">Enfants</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </article>
      </div>
      <div  routerLink="/george" class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block"  title="1984 - George Orwell">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/13.jpg" alt="1984 - George Orwell" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>8 Juin, 1949</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span> 75 ans publié</span>
              </li>
            </ul>
            <a class="d-block"
              title="Everything you wanted to know about the metaverse">
              <h3 class="mb-3 post-title">
                1984
              </h3>
            </a>
            <p>1984 de George Orwell se déroule dans un régime totalitaire dirigé par Big Brother. Le roman suit Winston Smith, qui travaille au Ministère de la Vérité, où il falsifie les archives pour le Parti. Déçu par le régime, Winston cherche à se rebeller et à découvrir la vérité, ...</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0" style="border-top: 0; background-color: transparent; padding: 0;">
            <ul class="card-meta list-inline" style="list-style: none; margin: 0; padding: 0;">
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <a href="author-single.html" class="card-meta-author" title="Read all posts by - George Orwell" style="font-size: 18px; text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <img class="w-auto" src="assets/assets/images/author/George Orwell.jpg" alt="George Orwell" width="26" height="26" style="width: 26px; height: 26px; margin-right: 5px; border-radius: 50%;">
                        par <span style="margin-left: 5px;">George Orwell</span>
                    </a>
                </li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">•</li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <ul class="card-meta-tag list-inline" style="list-style: none; margin: 0; padding: 0;">
                        <li class="list-inline-item" style="display: inline-block;">
                            <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px; text-decoration: none; color: inherit;">Dystopie</a>
                        </li>
                        <li class="list-inline-item" style="display: inline-block;">
                            <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px; text-decoration: none; color: inherit;">Science-fiction</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        </article>
      </div>
      <div  routerLink="/book" class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block"
              title="How to hire a developer straight out of bootcamp — without getting burned">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/20.jpg" alt="The Book Thief" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>15 Nov, 2005</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span> 19 ans publié</span>
              </li>
            </ul>
            <a class="d-block"
              title="How to hire a developer straight out of bootcamp — without getting burned">
              <h3 class="mb-3 post-title">
                THE BOOK THIEF
              </h3>
            </a>
            <p>The Book Thief de Markus Zusak suit Liesel Meminger, une jeune fille en Allemagne nazie, qui trouve réconfort en volant et partageant des livres. Narré par la Mort, le roman explore le pouvoir des mots et l'impact de la guerre sur la vie humaine.
            </p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0" style="border-top: 0; background-color: transparent; padding: 0;">
            <ul class="card-meta list-inline" style="list-style: none; margin: 0; padding: 0;">
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <a href="author-single.html" class="card-meta-author" title="Lire des romans par - Markus Zusak" style="font-size: 18px; text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <img class="w-auto" src="assets/assets/images/author/square.jpg" alt="Markus Zusak" width="26" height="26" style="width: 26px; height: 26px; margin-right: 5px; border-radius: 50%;">
                        par <span style="margin-left: 5px;">Markus Zusak</span>
                    </a>
                </li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">•</li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <ul class="card-meta-tag list-inline" style="list-style: none; margin: 0; padding: 0;">
                        <li class="list-inline-item" style="display: inline-block;">
                            <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px; text-decoration: none; color: inherit;">Fiction historique</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        </article>
      </div>
      <div routerLink="/atomic" class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block"
              title="Why developers are so divided over WordPress">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/21.jpg" alt="Atomic Habits" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>16 October, 2018</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span> 06 ans publié</span>
              </li>
            </ul>
            <a class="d-block"
              title="Why developers are so divided over WordPress">
              <h3 class="mb-3 post-title">
                ATOMIC HABITS
              </h3>
            </a>
            <p>
             <em>Atomic Habits </em> par James Clear montre comment de petites habitudes peuvent entraîner de grands changements. Le livre offre des stratégies simples pour créer de bonnes habitudes et abandonner les mauvaises.</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0" style="border-top: 0; background-color: transparent; padding: 0;">
            <ul class="card-meta list-inline" style="list-style: none; margin: 0; padding: 0;">
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <a href="author-single.html" class="card-meta-author" title="Read all posts by - Thomas Macaulay" style="font-size: 18px; text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <img class="w-auto" src="assets/assets/images/author/James Clear.jpeg" alt="Thomas Macaulay" width="26" height="26" style="width: 26px; height: 26px; margin-right: 5px; border-radius: 50%;">
                        par <span style="margin-left: 5px;">James Clear</span>
                    </a>
                </li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">•</li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <ul class="card-meta-tag list-inline" style="list-style: none; margin: 0; padding: 0;">
                        <li class="list-inline-item" style="display: inline-block;">
                            <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px; text-decoration: none; color: inherit;">Développement personnel</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        </article>
      </div>
      <div routerLink="/becoming" class="col-lg-6">
        <article class="card post-card h-100 border-0 bg-transparent">
          <div class="card-body">
            <a class="d-block"
              title="Why everyone is talking about ‘green steel’ at COP26">
              <div class="post-image position-relative">
                <img class="w-100 h-auto rounded" src="assets/assets/images/blog/22.png" alt="Why everyone is talking about ‘green steel’ at COP26" width="970" height="500">
              </div>
            </a>
            <ul class="card-meta list-inline mb-3">
              <li class="list-inline-item mt-2">
                <i class="ti ti-calendar-event"></i>
                <span>13 Novembre, 2018</span>
              </li>
              <li class="list-inline-item mt-2">—</li>
              <li class="list-inline-item mt-2">
                <i class="ti ti-clock"></i>
                <span>06 ans publié</span>
              </li>
            </ul>
            <a class="d-block"
              title="Why everyone is talking about ‘green steel’ at COP26">
              <h3 class="mb-3 post-title">
                  BECOMING
              </h3>
            </a>
            <p>
              <em>Becoming</em> par Michelle Obama raconte son parcours depuis son enfance à Chicago jusqu'à ses années à la Maison-Blanche, en passant par ses défis personnels et professionnels.</p>
          </div>
          <div class="card-footer border-top-0 bg-transparent p-0" style="border-top: 0; background-color: transparent; padding: 0;">
            <ul class="card-meta list-inline" style="list-style: none; margin: 0; padding: 0;">
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <a href="author-single.html" class="card-meta-author" title="Read all posts by - Thomas Macaulay" style="font-size: 18px; text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <img class="w-auto" src="assets/assets/images/author/Michelle Obama.jpg" alt="Michelle Obama" width="26" height="26" style="width: 26px; height: 26px; margin-right: 5px; border-radius: 50%;">
                        par <span style="margin-left: 5px;">Michelle Obama</span>
                    </a>
                </li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">•</li>
                <li class="list-inline-item mt-2" style="display: inline-block; margin-top: 8px;">
                    <ul class="card-meta-tag list-inline" style="list-style: none; margin: 0; padding: 0;">
                        <li class="list-inline-item" style="display: inline-block;">
                            <a href="tag-single.html" style="font-size: 22px; font-weight: bold; padding: 10px 15px; border-radius: 5px; text-decoration: none; color: inherit;">Mémoire</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        </article>
      </div>
      <div class="col-12 text-center">
        <a class="btn btn-primary mt-5" href="blog.html" aria-label="View all posts"><i class="ti ti-new-section me-2"></i>Voire Plus</a>
      </div>
    </div>
  </div>
</section>