<section class="page-header section-sm">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h1 class="section-title h2 mb-3">
                  <span>Politique de Confidentialité</span>
              </h1>
              <ul class="list-inline breadcrumb-menu mb-3">
                  <li class="list-inline-item"><a href="index-2.html"><i class="ti ti-home"></i>  <span>Accueil</span></a></li>
                  <li class="list-inline-item">• &nbsp; <a href="privacy.html"><span>Confidentialité</span></a></li>
              </ul>
          </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-10">
              <div class="content">
                  <p><strong>Dernière mise à jour le 25 décembre 2021</strong></p>
                  <p>Vous trouverez ci-dessous notre <a href="#!">Politique de Confidentialité</a>, qui décrit de nombreux aspects juridiques, mais en résumé, notre objectif est de toujours veiller à vous protéger, en tant que client ou en tant que vendeur sur notre plateforme.</p>

                  <h3 id="licensing-policy">Politique de Licence</h3>
                  <p>En visitant et/ou en effectuant toute action sur notre modèle, vous confirmez que vous êtes d'accord avec et lié par les termes décrits ci-dessous. Ces termes s'appliquent au site web, aux e-mails ou à toute autre communication.</p>

                  <h4 id="here-are-terms-of-our-standard-license">Voici les termes de notre Licence Standard :</h4>
                  <ul>
                      <li>La Licence Standard vous accorde un droit non exclusif d'utiliser le modèle que vous avez acheté.</li>
                      <li>Vous êtes autorisé à utiliser l'élément pour créer un Produit Final pour vous-même ou pour un client (une "application unique"), et le Produit Final peut être distribué gratuitement.</li>
                  </ul>

                  <h4 id="if-you-opt-for-an-extended-license">Si vous optez pour une Licence Étendue :</h4>
                  <ul>
                      <li>Vous êtes autorisé à utiliser l'élément pour créer un Produit Final pour vous-même ou pour un client (une "application unique"), et le Produit Final peut être vendu ou distribué gratuitement.</li>
                  </ul>

                  <h3 id="additional-policy">Politique Supplémentaire</h3>
                  <p>En visitant et/ou en effectuant toute action sur notre modèle, vous confirmez que vous êtes d'accord avec et lié par les termes décrits ci-dessous. Ces termes s'appliquent au site web, aux e-mails ou à toute autre communication.</p>
                  <ul>
                      <li>Vous disposez de 2 jours pour évaluer votre achat. Si votre achat ne répond pas aux attentes fixées par le vendeur, ou est gravement défectueux, contactez Bootstrap Themes et nous vous rembourserons intégralement après révision.</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>